.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}
