.header {
    background-color: #ffffff;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 13px 0 13px 0;
    margin: 0 auto;

    height: 170px;
    width: 80vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    &.scrolled {
        height: 98px;
    }

    &__logo {
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }

        h3 {
            padding-left: 10px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 17px;
            line-height: 20px;
        }
    }

    &__menu {
        height: 100%;
        width: 400px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            color: #000000;
        }

        &--btn {
            svg {
                font-size: 30px;
            }

            &-text {
                font-size: 16px;
                margin-left: 7px;
                text-transform: capitalize;
                font-weight: 600;
            }
        }

        &--regular {
            height: 100%;
            width: 400px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            a {
                height: 100%;
            }
        }

        &--drawer {
            width: 30vw;
            min-width: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: inline-block;
                padding: 20px;
            }

            &-x {
                position: absolute;
                right: 10px;
                font-weight: 500;
                font-size: 18px;
            }

            &-x:hover {
                cursor: pointer;
                color: maroon;
            }
        }

        &--item {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            svg {
                position: relative;
                top: 1px;
                width: 15px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .header {
        width: 100%;
        padding: 13px 26px 13px 26px;
    }
}
