.header {
  background-color: #dacfb8;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    button {
      color: #000000;
    }

    &--drawer {
      p {
        padding: 20px;
      }
    }
  }
}
