.home {
    width: 80vw;

    h4 {
        font-weight: 700;
    }

    img {
        width: 30vw;
        height: auto;
        min-height: 200px;
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        &--text {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-flow: column wrap;
        }
    }
}

@media (max-width: 1280px) {
    .home {
        width: 100%;
    }
}
