.home {
    margin: 15px;

    h4 {
        font-weight: 700;
    }

    img {
        height: 100vh;
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        // margin-top: 15px;
        // margin-bottom: 15px;
        &--text {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-flow: column wrap;
        }
    }
}
