.home {
    margin: 15px;

    h4 {
        font-weight: 700;
    }

    img {
        width: auto;
        height: 30vw;
        min-height: 200px;
    }

    &__card {
        display: flex;
        flex-flow: row nowrap;
        &--text {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-flow: column wrap;
        }
    }
}
